{% block body %}


	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<nav class="navbar bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" style='color:white'>Liste des Ordonnances</a>
			<div class="d-flex">
				<a href="{{ path('affiOrd')}}" class="btn btn-warning" style='margin-right:5px'>les ordonnances</a>
				<a href="{{ path('affi')}}" class="btn btn-warning">les médicaments</a>
			</div>
		</div>
	</nav>
	<a style="margin-left:1580px;font-size:1.4em;color:red" href="{{path('security_logout')}}">sign out</a>
	<h2 style="margin-left:50px">Liste des Ordonnances |
	</h2>

	<br>
	<br>
	{% for msg in app.flashes('notice') %}
		{{ msg }}
	{% endfor %}

	<div class="container d-flex justify-content-center mt-50 mb-50">

		<div class="row">
			<div class="col-md-10">
				{% for med in lesOrdonnances %}
					<div class="card card-body" style="width:600px;margin-top:15px">

						<div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
							<div class="mr-2 mb-3 mb-lg-0">

								<img src="https://cdn.pixabay.com/photo/2019/10/13/08/20/prescription-4545598_960_720.jpg" width="150" height="150" alt="ordonnances">

							</div>

							<div class="media-body" style="margin-top:15px">
								<h5 class="media-title font-weight-semibold">
									<p href="#" data-abc="true">Ordonnance de Mr
										{{med.nomPatient}}</p>

								</h5>

								<p class="mb-3">cette ordonnance crée a
									{{med.createdAt | date('d-m-y') }}</p>
								<h4 class="mb-0 font-weight-semibold" style="margin-left:20px">{{med.totalPrice}}
									DT</h4>

							</div>

							<div class="mt-3 mt-lg-0 ml-lg-3 text-center"></div>
						</div>
					</div>


				{% else %}

					<tr>
						<td colspan="5">Aucun ordonné</td>
					</tr>

				{% endfor %}
			</section>
		{% endblock %}
